<%- include("partials/header"); -%>

<%- include("partials/nav"); -%>



<div class="container pt-5 found text-center">
    <div class="container rounded-top pt-5" id="char">
        
    </div>
    <div id="char">
        <div class="container rounded-bottom mb-3">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="<%= hero.image %>" alt="charImg" id="charImg" class="img-fluid" />
                </div>
                <div class="col-12 col-md-8 mt-5">
                    <div class="text-end mb-4">
                        <h2><strong><%= hero.name %></strong></h2> 
                        <a href="<%= hero.linkWiki %>" target="_blank" class="btn btn-outline-primary mb-2">Link to the Wiki</a>
                        <p><strong>ID:</strong> <%= hero.id %></p>
                    </div>
            
                    <div class="col-12 text-start mt-3" id="main_data">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <p><strong>Gender:</strong> <%= hero.gender %></p>
                                <p><strong>Height:</strong> <%= hero.height %></p>
                                <p><strong>Species:</strong> <%= hero.species %></p>
                                <p><strong>Mass:</strong> <%= hero.mass %></p>
                            </div>
            
                            <div class="col-12 col-md-6 mb-3">
                                <p><strong>Year of Birth:</strong> <%= hero.birth %></p>
                                <p><strong>Year of Death:</strong> <%= hero.death %></p>
                                <p><strong>Home World:</strong> <%= hero.homeWorld %></p>
                                <p><strong>Skin Color:</strong> <%= hero.skinColor %></p>
                            </div>
            
                            <div class="col-12 mb-3">
                                <strong>Extras:</strong>
                                <% if (hero.extra) { %>
                                    <% hero.extra.forEach((char) => { %>
                                        <p><%= char %></p>
                                    <% }) %>
                                <% } else { %>
                                    <p>No extra data found</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                
                
                
                        
            <div class="row container-fluid mt-5">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="pt-3 charHeaders text-center">
                        <strong>Affiliations</strong>
                    </div>
                    <ul class="text-start">
                        <% if (hero.affl && hero.affl.length > 0 && hero.affl !== "NA") { %>
                            <% hero.affl.forEach((char) => { %>
                                <li><%= char %></li>
                            <% }) %>
                        <% } else { %>
                            <li>No extra data found</li>
                        <% } %>
                    </ul>
                </div>
            
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="pt-3 charHeaders text-center">
                        <strong>Former Affiliations</strong>
                    </div>
                    <ul class="text-start">
                        <% if (hero.formAffl && hero.formAffl.length > 0 && hero.formAffl !== "NA") { %>
                            <% hero.formAffl.forEach((char) => { %>
                                <li><%= char %></li>
                            <% }) %>
                        <% } else { %>
                            <li>No extra data found</li>
                        <% } %>
                    </ul>
                </div>
            
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="pt-3 charHeaders text-center">
                        <strong>Masters</strong>
                    </div>
                    <ul class="text-start">
                        <% if (hero.masters && hero.masters.length > 0 && hero.masters !== "NA") { %>
                            <% hero.masters.forEach((char) => { %>
                                <li><%= char %></li>
                            <% }) %>
                        <% } else { %>
                            <li>No extra data found</li>
                        <% } %>
                    </ul>
                </div>
            
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="pt-3 charHeaders text-center">
                        <strong>Apprentices</strong>
                    </div>
                    <ul class="text-start">
                        <% if (hero.apprentices && hero.apprentices.length > 0 && hero.apprentices !== "NA") { %>
                            <% hero.apprentices.forEach((char) => { %>
                                <li><%= char %></li>
                            <% }) %>
                        <% } else { %>
                            <li>No extra data found</li>
                        <% } %>
                    </ul>
                </div>
            </div>
            
            
                
            </div>
        </div>
        
       
    </div>
</div>

<%- include("partials/footer"); -%>