<%- include("partials/header"); -%>

<%- include("partials/nav"); -%>

<div class="container-fluid">
  <div class="row row-cols-xs-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 pt-5">
    <% if (locals.foundCharacters && foundCharacters.length > 0) { %>
      <% foundCharacters.forEach((char, index) => { %>
        <div class="col m-4" onclick="redirectToGetRoute(`<%=char.id%>`)">
          <div class="card text-center border-warning">
            <img src="<%= char.image %>" alt="Darth Vader" class="card-img-top">
              <h5 class="card-title mt-3"><%= char.name %></h3>
              <p class="card-text affiliation"><%= char.affl[0] %></p>
            </div>
          </div>    
        
      <% }) %>
      </div>
    <% } %>
  </div>
 
<nav aria-label="page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item active">
      <a class="page-link">Previous</a>
    </li>

    <%# We can create the buttons via some js using a loop %>

    <li class="page-item" aria-current="page"><a class="page-link" href="#">1</a></li>

    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<%- include("partials/footer"); -%>