<%- include("partials/header"); -%>

<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">The Galaxy Wiki</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" id="search">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row row-cols-xs-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xl-10 g-3">
    <% if (locals.arrCharacters && arrCharacters.length > 0) { %>
      <% arrCharacters.forEach((char, index) => { %>
        <div class="col">
          <div class="card">
            <img src="<%= char.image %>" alt="Darth Vader" class="card-img-top">
            <div class="card-body text-center">
              <h3><%= char.name %></h3>
              <div class="affiliation rebel"><%= char.affl[0] %></div>
            </div>
          </div>    
        </div>
      <% }) %>
    <% } %>
  </div>
</div>
 

<%- include("partials/footer"); -%>